<h1>this the index.html.erb file.. Yay!</h1>
<% @posts.each do |post| %>
	<div class=“post_wrapper”>
		<h2 class=“title”><%= link_to post.title,post %></h2>
		<p class=“date”><%= post.creater_at_strftime(“%B, %d, %Y”) %></p>
	</div>
<% end %>