<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p class=“date”>
	Submitted <%= time_ago_in_words(@post.created_at) %> Ago
</p>
<p>
  <strong>Content:</strong>
  <%== @post.body %>
</p>